nav {
  width: 100%;
  border-bottom: 1px solid rgb(196, 193, 193);

  ul {
    margin: 0 auto;
    width: 80%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;

    li {
      a {
        font-weight: 500;
        font-size: 17px;
        color: black;
        text-decoration: none;
      }
    }
  }
}
